<template>
	<h1 class="component-page-title">
		<slot></slot>
	</h1>
</template>

<style lang="less">
.component-page-title {
	position: relative;
	margin-bottom: var(--padding-medium);
	padding-bottom: var(--padding-small);

	font-size: var(--text-big);
	font-weight: bold;
	color: var(--color-header-text);

	&:after {
		content: '';

		position: absolute;
		left: 0;
		bottom: 0;
		width: 40px;
		height: 3px;

		background: var(--color-primary);
	}
}
</style>