<template>
	<section class="component-product-item">
		<nuxt-link :to="`/products/${id}`">
			<div class="img" :style="{'background-image': `url(${img})`}"></div>
			<div class="info">
				<div class="title">{{ title }}</div>
				<div class="price">${{ price }}</div>
			</div>
		</nuxt-link>
	</section>
</template>

<script setup>
	const props = defineProps(['id', 'title', 'price', 'img']);
</script>

<style lang="less">
.component-product-item {
	overflow: hidden;
	position: relative;
	background: var(--color-surface);
	border-radius: var(--border-radius);

	a {
		display: block;
		text-decoration: none;
	}

	.img {
		height: 150px;
		background-position: center;
		background-size: cover;
	}

	.info {
		padding: var(--padding-small);
	}

	.title {
		font-weight: bold;
		color: var(--color-header-text);
	}

	.price {
		padding-top: var(--padding-mini);
	}
}
</style>