<template>
	<section class="component-typography">
		<slot></slot>
	</section>
</template>

<style lang="less">
.component-typography {
	position: relative;
	line-height: 180%;
	font-size: var(--text-normal);
	color: var(--color-text);
	
	// Anchors
	a {
		text-decoration: underline;

		&:hover { text-decoration: none; }
	}


	// Headings
	h1, h2, h3, h4, h5, h6 {
		line-height: 100%;

		font-family: var(--font-header);
		font-weight: bold;
		
		&:first-child {
			margin-top: 0;
		}
		
		+ p {
			margin-top: -8px;
		}

		em {
			display: block;
			font-size: var(--text-normal);
		}
	}

	h1 { margin: 3em 0 1.4em 0; font-size: var(--text-large); }
	h2 { margin: 2.5em 0 1.4em 0; font-size: var(--text-big); }
	h3 { margin: 2em 0 1.4em 0; font-size: var(--text-medium); }
	h4 { margin: 1.85em 0 1.25em 0; font-size: inherit; }
	h5 { margin: 1.5em 0 1.15em 0; font-size: inherit; }
	h6 { margin: 1.5em 0 1.15em 0; font-size: inherit; }
}
</style>