<template>
	<section id="page-product">
		<page-title>{{ data.title }}</page-title>

		<div class="images">
			<div class="main">
				<div class="bg" :style="{'background-image': `url('${img}')`}"></div>
				<img :src="img">
			</div>
			<div class="list">
				<img 
					v-for="item of data.images" 
					:src="item" 
					alt="product image" 
					@click="selectedImg = item"
				>
			</div>
		</div>

		<div class="description">{{ data.description }}</div>

		<div class="price">${{ data.price }}</div>
	</section>
</template>

<script setup>
	// Build-in composables https://nuxt.com/docs/api/composables/use-route
	const route = useRoute();

	// Async data https://nuxt.com/docs/api/composables/use-async-data
	const { data } = await useAsyncData(
		`product-${route.params.id}`, // Unique key required
		() => $fetch(`https://dummyjson.com/products/${route.params.id}`)
	);

	// Data https://vuejs.org/guide/essentials/reactivity-fundamentals.html
	const selectedImg = ref('');

	// Computed data https://vuejs.org/api/reactivity-core.html#computed
	const img = computed(() => selectedImg.value.length ? selectedImg.value : data.value.thumbnail);
</script>

<style lang="less">
#page-product {
	.images {
		.main {
			overflow: hidden;
			position: relative;
			padding: var(--padding-normal) 0;
			height: 400px;
			text-align: center;
			background-color: var(--color-surface);

			.bg {
				position: absolute;
				inset: -15px;
				background-size: cover;
				background-position: center;

				filter: blur(15px);
			}

			img {
				position: relative;
				max-height: 100%;
			}
		}

		.list {
			margin-top: var(--padding-normal);

			img {
				display: inline-block;
				vertical-align: top;
				margin: 0 var(--padding-normal) var(--padding-normal) 0;
				height: 70px;
				cursor: pointer;
			}
		}
	}

	.price {
		padding-top: var(--padding-normal);

		font-weight: bold;
		font-size: var(--text-medium);
		color: var(--color-primary);
	}
}
</style>