<template>
	<section id="page-products">
		<page-title>Products</page-title>
		
		<div class="products-list">
			<product-item 
				v-for="item of data.products" 
				:id="item.id"
				:title="item.title"
				:price="item.price"
				:img="item.thumbnail"
			/>
		</div>
	</section>
</template>

<script setup>
	// Async data https://nuxt.com/docs/api/composables/use-async-data
	const { data } = await useAsyncData('getProducts', () => $fetch(`https://dummyjson.com/products`));
</script>

<style lang="less">
#page-products {
	.products-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: var(--padding-normal);
	}
}
</style>
