<template>
	<section id="layout-default">
		<div class="menu">
			<nuxt-link v-for="item of menu" :to="item.url">
				{{ item.title }}
			</nuxt-link>
		</div>
		<slot></slot>
	</section>
</template>

<script setup>
	// Data
	const menu = ref([
		{
			url: '/',
			title: 'Home',
		},
		{
			url: '/products',
			title: 'Products',
		},
	]);
</script>

<style lang="less">
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--border-radius: 8px;

	--color-primary: #008465;
	--color-surface: #fff;
	--color-bg: #e9e9e9;
	--color-header-text: #000;
	--color-text: rgba(0,0,0, 0.8);

	--font-header: Arial;
	--font-text: Arial;

	--text-large: 30px;
	--text-big: 26px;
	--text-medium: 20px;
	--text-normal: 16px;
	--text-small: 12px;

	--padding-big: 50px;
	--padding-medium: 30px;
	--padding-normal: 20px;
	--padding-small: 10px;
	--padding-mini: 5px;
}

body {
	font-family: var(--font-text);
	font-size: var(--text-normal);
	color: var(--color-text);
	background: var(--color-bg);
}

a {
	color: var(--color-primary);
}

#layout-default {
	margin: 0 auto;
	padding: var(--padding-normal);
	max-width: 700px;

	.menu {
		margin-bottom: var(--padding-big);
		padding: var(--padding-normal);
		background: var(--color-surface);

		a {
			display: inline-block;
			margin-right: var(--padding-normal);

			font-size: var(--text-medium);
			text-decoration: none;

			&:hover { text-decoration: underline; }
		}
	}
}
</style>