<template>
	<section id="page-index">
		<page-title>Home</page-title>
		
		<typography>
			<p>
				Страницы данного сайта являются статичными. <br>
				Данные для их отображения были получены по время генерации сайта 
				используя тестовый апи сервис 
				<a href="https://dummyjson.com" target="_blank">dummyjson.com</a>
			</p>
		</typography>
	</section>
</template>

<script setup>
	// Async data https://nuxt.com/docs/api/composables/use-async-data
	const { data } = await useAsyncData('getProducts', () => $fetch(`https://dummyjson.com/products`));
</script>

<style lang="less">
#page-index {
	.products-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: var(--padding-normal);
	}
}
</style>
